In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the spreasheet as dataframe
subjects = pd.read_csv("data/subjects.csv")
subjects.head(2)

                                            subjects
0  புராணக் கதைகள்|இதிகாசக் கதைகள்|வரலாற்றுக் கதைக...
1  புராணக் கதைகள்|இதிகாசக் கதைகள்|வரலாற்றுக் கதைக...

In [3]:
# Loop through each row and get items and 
subjects_all = []
for index, row in subjects.iterrows():
    subjects_value = row["subjects"]
    # Clean extra spaces
    subjects_value = ' '.join(subjects_value.split())
    # Split on the separator
    split_subjects = subjects_value.split("|")
    # Add it to the combined list
    subjects_all.extend(split_subjects)

In [4]:
len(subjects_all)

2632

In [5]:
# Load it as dataframe
subjects_all = pd.DataFrame(subjects_all)
subjects_all.columns = ["subjects"]
subjects_all.head(2)

          subjects
0   புராணக் கதைகள்
1  இதிகாசக் கதைகள்

In [6]:
# Drop duplicates
subjects_all = subjects_all.drop_duplicates(subset=['subjects'])
subjects_all.shape

(890, 1)

In [7]:
# Drop empty strings
subjects_all["subjects"].replace('', np.nan, inplace=True)
subjects_all = subjects_all.dropna(subset=['subjects'])
subjects_all.shape

(889, 1)

In [8]:
subjects_all.to_csv("reports/subjects.csv", index=False)